.home-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 5px;
}
.search-input{
    padding: 15px;
    width: 50%;
}
.search-btn{
    padding: 17px;
    border: none;
    background-color: cyan;
    color: white;
}
.cart{
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 5px;
    margin-right: 10px;
}
.cart p{
    margin-left: 140px;
}
.cart-info-container{
    display: flex;
    justify-content: center;
}
.delete-btn{
    padding: 5px;
    background-color: red;
    margin-left: 5px;
}